.note_menu{
	margin-left: 10px;
	margin-top:20px;
}

input[type="radio"],input[type="checkbox"]{
	width:25px;
	height:25px;
	vertical-align: top;
}

textarea{
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter';
	font-size: 1.3em;
	font-weight: bold;
	border:none;
	outline:none;
	resize:none;
	background-color: transparent;
}
.main-div{
	padding-top:50px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:30px;
	display:inline-block
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}