input[type="radio"],input[type="checkbox"]{
	width:25px;
	height:25px;
	vertical-align: top;
}

textarea{
	font-family: 'FontAwesome',cursive;
	font-size: 1.3em;
	font-weight: normal;
	border:none;
	outline:none;
	resize:none;
	background-color: transparent;
}

input.empty {
    font-family: FontAwesome;
	font-size: 1em;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.content{
	background-color:blanchedalmond;
	padding :10px;
}
.note_menu{
	padding-left:30px;
}
